<div class="container centered animated fadeIn fast">
  <div class="accent-contrast" id="ctc-container">
    <h1 class="gl-ft">Let's keep in touch!</h1>
    <h2 class="gm-ft">Get a coupon for a free snack when you join our mailing list</h2>

    <form>
      <div class="form-group mx-auto my-3 accent-contrast">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <br>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
        <h3 class="gs-ft mt-4">We love our customers and hate spam. We promise to keep your info safe.</h3>
        <button type="submit" class="btn btn-block main-contrast ml-ft" id="btn-sub">I want my free snack!<img src="./assets/img/coupon.png" alt=""></button>
      </div>
    </form>
    <div class="main-contrast div-hold"></div>
    <h1 class="gl-ft">Where to find us</h1>
    <div class="div-white"></div>

    <div class="row m-auto px-5" id="address-div">
      <div class="col m-auto px-0">
        <h3 class="gm-ft">8110 Kirby Dr, Houston TX </h3>
          <div class="main-contrast div-strech"></div>
        <h3 class="gm-ft my-2">hello@taste.com </h3>
      </div>
      <div class="col m-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1733.0014446360378!2d-95.41476823571959!3d29.690695909518016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c017fff4bd65%3A0x897700a12bc9f0d0!2sShops+At+3+Corners!5e0!3m2!1ses-419!2sus!4v1536259881526" width="150" height="150" class="map" allowfullscreen></iframe>
      </div>
      <div class="col m-auto" id="social-div">
          <h3 class="gm-ft">Social media</h3>

          <div class="btn main-contrast icon mx-4 px-0"><fa name="fab fa-facebook"></fa></div>
          <div class="btn main-contrast icon mx-4 px-0"><fa name="fab fa-pinterest-p"></fa></div>
          <div class="btn main-contrast icon mx-4 px-0"><fa name="fab fa-twitter"></fa></div>

      </div>
    </div>
  </div>

</div>
<!--div class="container" style="background:var(--accent-color); height:20px; width:50%; margin-top:10rem;">

</div>
<div class="container text-center">
<img class="medium-size" src="./assets/img/uc-img.png" alt="Under construction image">
<p class="centered mcolor ml-ft pt-3 mt-0">
  Working on it! Check OUR PRODUCTS link instead.
</p>
</div>
<div class="container mt-0" style="background:var(--accent-color); height:20px; width:50%;"-->
