<div class="accent-contrast centered pt-3 animated fadeIn fast" style="height: 200px;">
    <h1 class="mcolor gl-ft">What we have to offer</h1>
    <h2 class="mcolor gm-ft">We offer a variety of beverages: coffee, tea and chocolate variations, <br>with delicious snacks as accompaniment - all healthy and fresh!</h2>
</div>
<div class="tabset row centered">
  <div class="tab col" *ngFor="let beverage of beverages; let i = index">
    <div class="btn" (click)="toggle(i)"><img class="medium-size" [src]="beverage.img" [alt]="beverage.type"><br><span class="mcolor gm-ft">{{beverage.type}}</span></div>
  </div>
  <div class="container" *ngIf="theBeverage.active">
    <div class="card-group animated fadeIn">
      <div class="card px-0" *ngFor="let prod of theBeverage.content;">
        <div class="card-body">
          <h5 class="card-title centered accent-contrast border-1 py-2">{{ prod.name }}<app-rating [score]='prod.rate'></app-rating></h5>
          <p class="card-text mcolor gs-ft">{{ prod.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container main-contrast mb-3 mt-0" style="height:2px; width:90%;"></div>
<div class="centered pt-3 animated fadeIn fast" style="height: 200px;">
    <div class="container" style="position: relative; z-index:5;">
      <h1 class="mcolor gl-ft">Serving the community we love</h1>
      <h2 class="mcolor gm-ft">Hear some of the buzz Taste is already generating</h2>
    </div>
    <div class="card-deck mb-2" style="margin-top:-45px; z-index:0;">
      <div class="card px-0 border-0">
        <div class="card-body">
          <div class="card-header border-0 my-0 py-0 text-left" style="background-color: white;">
            <img class="card-img-top small-size rounded-circle" src="./assets/img/user-1.png" alt="Female photo">
          </div>
          <div class="card-body">
            <p class="text-justify gs-ft mcolor">"It’s clear the ladies behind Taste pour their heart and soul into offering up delicious and healthy beverages. Don't miss out on meeting some great people over fantastic taste!"</p>
          </div>
        </div>
      </div>
      <div class="card px-0 border-0">
        <div class="card-body">
          <div class="card-header border-0 my-0 py-0 text-right" style="background-color: white;">
            <img class="card-img-top small-size rounded-circle" src="./assets/img/user-2.png" alt="Male photo">
          </div>
          <div class="card-body">
            <p class="text-justify gs-ft mcolor">"This is some of the most flavorful, exquisite coffee I’ve ever tasted! The strong cuban coffee flavor tastes like original, and the chocolate is so rich and satisfying!"</p>
          </div>
        </div>
      </div>
    </div>
</div>
