/** Importing PERSONALIZED FONTS

font-family: 'Ravi Prakash', cursive;
font-family: 'Roboto', sans-serif;

This section is just in case Google Fonts do not respond temporary...
We already ordered to upload the fonts in the index.html file - head section - link tab.
**/
@font-face {  font-family: 'Ravi Prakash';  src: url('./assets/fonts/ravi-prakash/RaviPrakash-Regular.ttf') format('ttf');
}

@font-face {  font-family: 'Roboto';  src: url('./assets/fonts/roboto/Roboto-Bold.ttf') format('ttf');
}

/** WEB BROWSER MEASURES BEHAIVOR to include the padding measures inside the box sizing (width, heigth)  **/

*, *::before, *::after {  box-sizing: border-box;  -webkit-box-sizing: border-box; /* for Chrome support */  -moz-box-sizing: border-box;  /* for Mozilla support */
}


/******* Defining COLOR-SCHEME and Typescale for the DOM: html document ********/

html{
  font-size: 16px;
  cursor: default;
}

:root{

/************************** color-scheme variables *****************************/
  --bg-color:#fff;
  --main-color:#330000;
  --secondary-color:#FFCC00;
  --accent-color:#009966;
  --text-shadow:#2A143C;

/************************* font-family variables *******************************/
  --main-ft: 'Ravi Prakash', cursive;
  --general-ft: 'Roboto', sans-serif;

/******************** font-sizes for mobile devices ****************************/
  --xl-font: 3em;
  --large-font: 1.5em;
  --medium-font: 1.125em;
  --small-font: 1em;
}

/*************************** BASIC STYLES ****************************************/

.main-contrast{  background-color: #330000;  color: #FFCC00;  }

.accent-contrast{  color: #330000; background-color: #FFCC00;  }

.uppercase{  text-transform: uppercase;  }

.centered{  text-align: center;  }

.icon{ width:35px;  height:35px;    }

.medium-size{  width: 10rem; }

.small-size{  width: 6rem; }

.mcolor {  color: var(--main-color);  }

.scolor {  color: var(--secondary-color);  }

.mm-ft {  font-family: var(--main-ft); font-weight: bold;  font-size: var(--medium-font);  }

.ml-ft {  font-family: var(--main-ft); font-weight: bold;  font-size: var(--large-font);  }

.gm-ft {  font-family: var(--general-ft); font-weight: bold;  font-size: var(--medium-font);  }

.gs-ft {  font-family: var(--general-ft);  font-size: var(--small-font);  }

.container{
  padding: 0px;
  margin: 0px auto;
}
/*************************** HEADER STYLES ****************************************/

.float-front{
  z-index:30;
}
/***** Styles to align the li's content to the bottom line*****/
.box{
   display:table;
}

.btm{
  display:table-cell;
  vertical-align: bottom;
}

.btm a{
  display:block;
}

.btm img{
  display:block;
  margin-bottom:-50px;
}

/***** Style to personalize text properties for navbar *******/

#nav-bar ul li a{
  font-family: var(--general-ft);
  font-size: var(--large-font);
  font-weight:bolder;
}

#nav-bar ul li a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

#div-line{
  height: 30px;
  background: var(--secondary-color);
  margin-top: -35px;
  margin-bottom: 38px;
}

/*************************** HOME STYLES ****************************************/

#announcement h1{
  display: block;
  font-family: var(--main-ft);
  font-size: var(--xl-font);
  padding: 10px 0 5px 0 !important;
  margin-bottom: 0;
}

#announcement h2{
  display: block;
  font-family: var(--general-ft);
  font-size: var(--medium-font);
  word-spacing: 3px;
  letter-spacing: 1px;
}

#calendar{
  position: relative;
  margin-bottom:-35px;
}

#calendar .btn{
  text-align: left;
  margin-top: 18px;
  padding: 0px 35px 0px 35px;
  box-shadow: 2px 2px 2px 2px rgba(51,0,0,0.6);
  border: 1px solid rgba(51,0,0,0.5);
}

#calendar .btn span{
  display: inline-block;
  font-family: var(--main-ft);
  font-size: var(--large-font);
  font-weight: bold;
  word-spacing: 3px;
  letter-spacing: 1px;
  color: var(--main-color);
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


#calendar .btn img{
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#social-img{
  margin-bottom: 40px;
}

/*************************** PRODUCTS STYLES ****************************************/

.tabset{
  margin-top: -80px;
  margin-bottom: 38px;
}

/*************************** FOOTER STYLES ****************************************/

footer{
  display: block;
  font-family: var(--general-ft);
  font-size: var(--large-font);
  height: 30px;
  padding-top: 10px !important;
  padding-bottom: 40px !important;
}

/**************************** Animation styles **********************************/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
