<div class="main-contrast animated fadeIn fast">
  <div class="centered" id="announcement">
    <h1>Join as for our Grand Opening event!</h1>
    <h2>Come celebrate with us and get a 25% discount</h2>
    <h2>8110 Kirby Dr, Houston TX | October 28-29th</h2>
  </div>
  <div class="centered" id="calendar">
    <button  class="btn btn-warning accent-contrast btn-lg rounded-0" type="button" name="button" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N3VuNTIxNTBrdnExMGlicmowa2twcDliZmpfMjAxODEwMjhUMTQwMDAwWiBhbmlzbGV5LnN2QG0&tmsrc=anisley.sv%40gmail.com&scp=ALL"><span>Add to my calendar</span><img class="icon" src="./assets/img/calendar.png" alt="">
    </button>
  </div>
  <img class="img-fluid" src="./assets/img/photo-social.png" alt="Image of a group of people enjoying Taste's beverages together" id="social-img">
</div>
